body {
  background-color: rgb(197, 203, 203);
  font-size: 0.8em;
  letter-spacing: 1px;
}
.container {
  max-width: 400px;
}
.icon {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  border-radius: 50%;
}
.card {
  background-color: rgb(174, 149, 183);
}
.icon{
    background-color: rgb(154, 97, 207);
}